In [2]:
import pandas as pd

In [4]:
data1 = {
    'Nama':['A','B','C'],
    'Antrian':[1,2,3]
}

df = pd.DataFrame(data1)
df

  Nama  Antrian
0    A        1
1    B        2
2    C        3

In [5]:
df['New'] = [98,77,80]
df

  Nama  Antrian  New
0    A        1   98
1    B        2   77
2    C        3   80

In [6]:
df.insert(len(df.columns), column='Past', value=[1,1,0])
df

  Nama  Antrian  New  Past
0    A        1   98     1
1    B        2   77     1
2    C        3   80     0

In [7]:
df.loc['Now'] = [2,2,3]
df

ValueError: cannot set a row with mismatched columns

In [41]:
df.loc[(df['New'] > 70)&(df['Past']>0)]

  Nama  Antrian  New  Past
0    A        1   98     1
1    B        2   77     1

In [66]:
df.values

array([['A', 1, 98, 1],
       ['B', 2, 77, 1],
       ['C', 3, 80, 0]], dtype=object)

In [71]:
df.iloc[1].iloc[2]

77

In [87]:
df['A']['New']

KeyError: 'A'

In [80]:
neww = df.groupby('Nama').mean()
neww

      Antrian   New  Past
Nama
A         1.0  98.0   1.0
B         2.0  77.0   1.0
C         3.0  80.0   0.0